Welcome to {{ ansible_hostname }}

The Free Memory on the machine is {{ ansible_memfree_mb }}
The Total Memory on the machine is {{ ansible_memtotal_mb }}
The kernel Version is {{ ansible_kernel }}

The CPU count on the machine is {{ ansible_processor_vcpus }}

Contact {{ system_manager }} if anything is wrong
